.form_section {
    height: auto;
    padding: 2rem;
    background: rgb(170, 196, 245);
    text-align: center;
}

.Form {
    width: 50%;
    height: auto;
    background: rgba(240, 242, 243, 0.945);
    text-align: center;
    padding: 1rem 5rem;
    border-radius: 5px;
    margin: 0 auto;
}


.first_step_btn {
    width: 7rem;
    height: 2.7rem;
    border-radius: 5px;
    border: none;
    margin: 0.5rem;
    cursor: pointer;
    background: rgba(104, 103, 104, 0.74);
    color: white;
}

.first_step_btn:hover, .second_step>button:hover {
    background: rgba(39, 38, 39, 0.74);
}

.suivant_firststep_btn, .suivant_secondstep_btn  {
    width: 7rem;
    height: 2rem;
    background: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.second_step>button {
    width: 7rem;
    height: 2rem;
    margin: 0.3rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background: rgba(104, 103, 104, 0.74);
    color: white;
}


.sections_wrapper {
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

.Languages_container, .Tools_container {
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    margin: 1rem 0;
}

.MuiButton-containedPrimary {
    margin: 2rem 1rem !important;
}

.fourth_page>input {
    height: 2rem;
    width: 15rem;
    margin: 0.3rem;
    border-radius: 5px;
    border: 1px solid rgb(100, 99, 99);
}

.not_eligible_text {
    color: tomato;
}


@media screen and (max-width: 600px) {
    .Form {
        width: 95%;
        padding: 1rem 0.5rem;
    }

    .form_section {
        padding: 1rem !important;
    }

    .form_section>h2 {
        font-size: 1.2rem;
    }

    .not_eligible_text {
        text-align: justify;
        padding: 0 1rem;
    }

    .Languages_container, .Tools_container {
        width: 81%; 
    }

    .fourth_page>input {
        height: 2.5rem;
        width: 90%;
    }
    
}